* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-weight: 300;
  margin: 0px;
}

.backgroundImage {
  background-position: center;
  background-size: cover;
  padding: 0px;
}
.blogHeader {
  color: #fff;
}
.blogHeader .backgroundImage {
  display: flex;
  position: relative;
  min-height: 735px;
  align-items: center;
}
.blogHeader .container {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 735px;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-family: Avalon-Bold, NotoSansJP-Bold, NotoSansKR-Bold, NotoSansSC-Bold,
    NotoSansTC-Bold, Arial, Helvetica, sans-serif;
  font-size: 50px;
  line-height: 80px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  width: 98%;
  text-align: center;
}

.text-center {
  text-align: center !important;
}

.introText {
  width: 90%;
  font-size: 24px;
  line-height: 30px;
  font-weight: 800;
  transform: translateX(20px);
}

.inlineList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 35px;
}
.left {
  display: flex;
}
.left a {
  text-decoration: none;
}
.innovation-cont {
  background-color: #d61831;
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 700;
  padding: 8px 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.innovation-cont a {
  color: rgb(255, 255, 255);
}
.postAuthor {
  margin-left: 10px;
}
.postAuthor a {
  align-self: center;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  color: #000;
  font-weight: 700;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.postDate {
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-weight: 700;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.flexContentPadding {
  padding-top: 35px;
  padding-bottom: 35px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
.row p {
  width: 60%;
  color: rgba(0, 0, 0, 0.699);
  font-size: 16px;
  line-height: 30px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.row a {
  color: rgba(0, 0, 0, 0.699);
}
.slide {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
.slide img {
  width: 100%;
}

.slide p {
  font-size: 12px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.699);
  line-height: 30px;
}
.row strong {
  display: block;
  color: black;
  font-weight: 800;
  font-size: 1.3rem;
  text-align: justify;
}
.img-col {
  width: 40%;
}
.img-col img {
  width: 100%;
}
.img-col:first-child {
  margin-right: 20px;
}
.videoWrapper {
  width: 100%;
}
.videoWrapper iframe {
  width: 100%;
}
.container-ellen {
  display: flex;
  width: 100%;
}
.slide-ellen {
  padding: 0px 40px;
  width: 55%;
}
.slide-ellen img {
  width: 100%;
}
.slide-ellen p {
  color: rgba(0, 0, 0, 0.699);
  font-size: 12px;
  margin-top: 5px;
  line-height: 30px;
}
.ellen-p {
  width: 50%;
  color: rgba(0, 0, 0, 0.699);
  font-size: 16px;
  line-height: 30px;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: -10px;
}
.ellen-p strong {
  display: block;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}
.mosaic-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.mosaic-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 15px;
}
.mosaic-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}
.mosaic-container img {
  width: 100%;
  margin-bottom: 15px;
}
.mads-container {
  width: 90%;
}
.graph {
  display: inline;
  width: 50%;
}
.graph-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .container-ellen {
    flex-direction: column;
    align-items: center;
  }
  .slide-ellen {
    width: 95%;
  }
  .ellen-p {
    margin-top: 10px;
    width: 75%;
  }
  .mosaic-container {
    width: 75%;
  }
  .graph-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .graph {
    width: 75%;
  }
  .graph-container p {
    width: 75%;
  }

  @media (max-width: 770px) {
    h1 {
      font-size: 40px;
    }
    .introText {
      font-size: 20px;
    }
    .inlineList {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 10%;
    }
    .postDate {
      width: 100%;
    }
    .row p {
      width: 90%;
    }

    .ellen-p, .slide-ellen p{
      width: 100%;
      padding-left: 20px;
    }
    .mosaic-container {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .mosaic-left,
    .mosaic-right {
      width: 100%;
      margin: 0px;
    }
  }

  @media (max-width: 576px) {
   h1{
    width: 100%;
transform: translateX(-15px);   }
    .flexContentPadding {
      padding: 10px;
    }
    .row {
      justify-content: flex-start;

    }
    .row p {
      width: 100%;
    }
    .saving-container {
      display: flex;
      flex-direction: column;
    }
    .slide-ellen{
      padding: 0px;
    }
    .graph{
      width: 100%;
    }
    .img-col {
      width: 100%;
    }
    .img-col:first-child {
      margin: 0px;
    }
    .madone {
      flex-direction: column;
    }
  }
}
